body{
    padding-left: 35%;
    background: url(/img/fall-autumn-red-season.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #3c53c7;
    box-shadow: 0 2px 8px -2px rgba(60, 83, 199, 0.5);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transform: translateY(0);
}

.btn.ripple {
    background-position: center;
    transition: background 0.8s;
}

.btn.ripple:hover {
    background: #354bb9 radial-gradient(circle, transparent 1%, #354bb9 1%) 50%/16000%;
}

.btn.ripple:active {
    background-color: #6375d2;
    background-size: 100%;
    transition: background 0s, transform 0.2s;
    transform: translateY(1px);
}
  
